@import '../../styles/variables';
@import '../../styles/utilities';

.home-page {
  @extend %page-setup;
  text-align: center;
  header {
    h1 {
      font-weight: 700;
    }
    h2 {
      font-size: em(24px);
      line-height: em(22px);
      padding: 0 30px;
      @include media-break(medium) {
        font-size: em(28px);
        line-height: em(22px);
      }
    }
  }
  > section {
    padding: 20px;
  }
  > section:last-of-type {
    padding: 20px 40px 100px;
    line-height: em(30px);
  }
}
