@import '../../styles/utilities';
@import '../../styles/variables';

.place-page {
  @extend %page-setup;
  max-width: 768px;
  margin: 0 auto 40px;
  > section.loading {
    text-align: center;
    margin: 150px auto;
    padding: 25px 15px;
  }
  div.image-wrapper {
    width: 200px;
    height: auto;
    max-height: 200px;
    overflow-y: hidden;
    display: inline-block;
    margin: 10px;
    -webkit-box-shadow:  1px 1px 5px $box-shadow, -1px -1px 5px $box-shadow;
    -moz-box-shadow:  1px 1px 5px $box-shadow, -1px -1px 5px $box-shadow;
    box-shadow:  1px 1px 5px $box-shadow, -1px -1px 5px $box-shadow;
    img {
      height: auto;
      width: 200px;
      border: 2px solid rgba(black, 0.3);
    }
  }
}
